body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    border-bottom: 1px solid white;
    padding: 5px 15%;
}

#nav-bar > ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
}

#nav-bar > ul > li > a {
    text-decoration: none; 
    font-size: 18px;
    color: #E5E7EB;
}

.header-container {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding: 20px 100px 50px 100px;
    gap: 25px;
}

.left-header {
    display: flex;
    flex-direction: column;
}

.left-header > h1 {
    color: white;
    margin-bottom: -8px;
}

.left-header > p {
    color: white;
    font-size: 14px;
}

.right-header {
    display: flex;
}

.right-header > img {
    border: 1px outset black;
    border-radius: 10px;
}

.header-button {
    background-color: #3882F6;
    color: white;
    max-width: 100px;
    border-radius: 5px;
}

.main-content-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.main-content-container > h1 {
    align-self: center;
}

.card-container {
    display: flex;
    justify-content: space-around;
    margin: auto;
    gap: 20px;
    min-height: 250px;
}

.card {
    text-align: center;
}

.card > img {
    border: 1px outset #3882F6;
    border-radius: 10px;
}

.quote-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #E5E7EB;
}

.quote-container > p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}


